# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# Environment variables
.env
.flaskenv

# SQLite database files
*.db

# VSCode settings
.vscode/

# Instance folder (Flask app DBs)
instance/

# OS files
.DS_Store
Thumbs.db
